[tool.ruff]
line-length=190
indent-width=4
fix=true
src = ["src", "tests"]

[tool.ruff.lint]
select = [
    # pydocstyle
    "D",
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # PEP8 Naming
    "N",
    # Pylint
    "PL",
]
ignore = ["D211", "D212"]
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "lf"
docstring-code-line-length = 190
