name: Autograding Tests
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  checks: write
  packages: read
  actions: write
  contents: write
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/dmacc-cis289-spring-2025/github-classroom-python-template:latest
      options: --user root
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
    - name: Pytest Run
      id: pytest-run
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        PYTEST-RUN_RESULTS: "${{steps.pytest-run.outputs.result}}"
      with:
        runners: pytest-run
    - name: Run Precommit Hooks
      run: |
        cd $GITHUB_WORKSPACE
        echo "Current Path: $(pwd)"
        pre-commit run --all-files
