name: Autograding Tests
'on': {}
permissions:
  checks: write
  packages: read
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/dmacc-cis289-spring-2025/github-classroom-python-template:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        pre-commit run --all-files
    - name: Pytest Run
      id: pytest-run
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        PYTEST-RUN_RESULTS: "${{steps.pytest-run.outputs.result}}"
      with:
        runners: pytest-run