name: PreChecks
on:
  - workflow_dispatch
  - repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  initialize:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node LTS v22
      uses: actions/setup-node@v4
      with:
        node-version: lts/jod

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        cache: pip

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

  lint:
    needs: [initialize]
    runs-on: ubuntu-latest
    steps: 
      - name: Run pre-commit
        run: |
          pre-commit run --all-files

      - name: Cache pre-commit hooks
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-precommit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run Ruff Check
        run: |
          ruff check

  test:
    needs: [initialize]
    runs-on: ubuntu-latest
    steps:
      - name: Run pytest
        run: |
          pytest -v