name: 'build'
on: # rebuild any PRs and main branch changes
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: dmacc-cis289-spring-2026/github-classroom-python-template

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build image
        uses: devcontainers/ci@v0.3
        with:
            imageName: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            cacheFrom: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            configFile: ./.devcontainer/prebuild-devcontainer.json
            push: always
