name: Run Linter, Formatter Checks
on:
  workflow_dispatch:
  pull_request:

permissions:
  checks: write
  packages: read
  actions: write
  contents: write
jobs:
  run-prechecks:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pre-commit
      run: |
        pre-commit run --all-files

    - name: Run Pytest
      run: |
        pytest -v

    - name: Run Ruff Check
      run: |
        ruff check

    - name: Cache pre-commit hooks
      uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-precommit-${{ hashFiles('.pre-commit-config.yaml') }}
